// app global css in SCSS form

body
{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

.q-field
{
  font-size: 1rem;
}

.q-dialog__inner > *
{
  pointer-events: all !important; /* bug in Quasar */
}

.q-field__inner .q-field__bottom
{
  padding-top: 3px;
  padding-bottom: 5px;
}

.q-uploader
{
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.q-layout
{
  .q-field--outlined
  {
    .q-field__control::before
    {
      z-index: 1;
    }
  }

  .q-field .q-field__control-container
  {
    background-color: inherit;
  }

  .q-field--labeled.q-field--dense .q-field__native,
  .q-field--labeled.q-field--dense .q-field__prefix,
  .q-field--labeled.q-field--dense .q-field__suffix,
  .q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container
  {
    padding-top: 2px;
  }

  .q-field--float .q-field__label
  {
    transform: translateY(-120%) scale(0.75);
    max-width: 133%;
    padding-left: 6px;
    padding-right: 6px;
    z-index: 1;
    right: auto;
  }

  .q-field--dense.q-field--float .q-field__label
  {
    transform: translateY(-85%) scale(0.75);
  }
}

body.body--dark .q-layout
{
  background-color: $dark;

  .q-field--float .q-field__label
  {
    background-color: #222;
  }

  .q-layout__section--marginal
  {
    background-color: #333;
  }
}

body.body--light .q-layout
{
  background-color: #FFF;

  .q-field--float .q-field__label
  {
    background-color: #FFF;
  }

  .q-layout__section--marginal
  {
    background-color: #EEF4FB;
  }

  a
  {
    color: $primary;
  }

  .q-breadcrumbs--last a
  {
    color: $primary;
  }

  .q-breadcrumbs a
  {
    color: $secondary;
  }

  button.q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-btn--rectangle.q-btn--actionable.q-focusable.q-hoverable > span.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row,
  button.q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-btn--round.q-btn--actionable.q-focusable.q-hoverable.q-btn--dense,
  div.flex.items-center.q-breadcrumbs--last
  {
    color: $primary;
  }

  .mdi-white-balance-sunny
  {
    color: $secondary;
  }
}
