:root {
    --md-primary-bg-color: #5498D7;
    --md-primary-bg-color-hover: #FAA427;
    --md-primary-fg-color: #eef4fb;
    --md-default-bg-color: #ffffff;
}
.md-header .md-logo img, .md-header .md-logo svg {
    width: 100%;
}
.md-typeset a {
    color: var(--md-primary-bg-color)
}
.md-typeset a:hover {
    color: var(--md-primary-bg-color-hover)
}
.md-nav__item .md-nav__link--active {
    color: var(--md-primary-bg-color-hover);
}